//
   Created by Juha on 3/6/2016
extends broaden
block levenee
    h2 Spectral broadening in semiconductor materials
    h3 Motivation and Purpose:
    p
    | Because of their high efficiency, LED's and laser diodes (LD) have rapidly gained amazing popularity
    | in many applications.
    | To reach the desired high power efficiency LED's are constructed with one or more quantum wells in the diode's
    | pn-junction area, where the quantum wells collect the charge carriers to a tightly restricted area
    | dramatically increasing their density and recombination probability. Each recombining electron hole pair may produce
    | an emitted photon and thereby contribute to the emission of light from the diode. The photon energy roughly equals
    | to the bandgap of the emitting material layer, but in oder to truly describe the conversion of electric power
    | into the flux of light, we in addition to emission
    b
        em  wavelength
    |   , need to understand in detail also the spectral
    b
        em    broadening
    |    mechanisms.
    br
    br
    b
        i  The emission wavelength
    |   (spectral color) is determined by the semiconductor material bandgap in combination
    | with the dimensions (depth and width) of the included quantum well(s). These three parameters are tailored in the
    | material deposition processes during the fabrication. Emitted photons typically have energies close to the bandgap
    | value, and the quantum well structure significantly reduces the reabsorption of created photons into the
    | surrounding host materials.
    br
    br
    | Typical emission spectra are rather broad in LED's (and LD's below the lazing threshold),
    | at least significantly broader than evaluated before the spectral broadening mechanisms are accounted for.
    | A correct spectral broadening function is required also for semiconductor laser modelling to calculate the laser
    | gain spectra. Several alternative functions have been proposed for qw LED and LD calculations.
    | This site examines only three of them, and optical broadening mechanisms are often categorized
    | to be either
    b
        em   inhomogeneous
    |   or
    b
        em   homogeneous.
    h3 Applied methods:
    p
    |In order to focus on writing and spectral modelling, the number of new drawings remains small, which possibly decreases readability, but is
    |compensated by links to available graphs elsewhere on the web. Another topic is the mathematical formulas and equations,
    |that will be more or less unavoidable. For adding equations on HTML5 pages, several options are available claiming
    |to support equally all browsers.
    -MathJax_urli="https://www.mathjax.org/"
    a(href="#{MathJax_urli}" target="_blank") MathJax
    |       was selected for this page.
    h3 Compared spectral functions:
    | Collect here some math functions:
    h3 Details in the Calculation:
    p
    | -Possibility to upload and download spectral measurements
    br
    | -Possibility adjust spectral parameters on broadening functions
    br
    | -graphing measured and calculated spectra
    br

    |where
    |\begin{equation}
    |\tau_{be}=\frac{\tau_{e}m_{h}}{m_{h}+m_{e}} \quad\textrm{and}\quad\tau_{bh}=\frac{\tau_{h}m_{e}}{m_{h}+m_{e}}
    |\label{Reducedtau}
    |\end{equation}
    |If the allowed wave vector mismatch ($\Delta k_{e}-\Delta k_{h}$) is small in the recombination, and the intraband scattering processes at $E_{e}$ and $E_{h}$ are independent, as was assumed also with Eqs. (\ref{LorentzianLB}) and (\ref{TauR}), the corresponding homogeneous line shape is now obtained as the normalized product of the two above probability densities:
    |\begin{equation}
    |L_{t}(\Delta E)= \frac{(\tau_{be}+\tau_{bh})/(\pi\hbar)}{1+\tau_{be}^{2}\Delta E^{2}/\hbar^{2}}\times\frac{1}{1+\tau_{bh}^{2}\Delta E^{2}/\hbar^{2}}\label{DLorentz}~,
    |\end{equation}
    |or if expressed as a difference of two Lorentzians \cite{Lin1}:
    |\begin{align}\nonumber
    |L_{t}(\Delta E)=\frac{1}{\pi\hbar\cdot(\tau_{bh}-\tau_{be})}
    |\times \Big(\frac{\tau_{bh}^{2}}{1+\tau_{bh}^{2}\Delta E^{2}/\hbar^{2}}-
    |\frac{\tau_{be}^{2}}{1+\tau_{be}^{2}\Delta E^{2}/\hbar^{2}}\Big)\label{DLorentz2}~,
    |\end{align}
    |Starting from Fermi's golden rule, spontaneous interband emission rate without Coulomb interactions has been
    |expressed as: \cite{Coldren1,Christen1}
    |\begin{align}\nonumber
    |R_{sp}(E)=\frac{ne^{2}}{\epsilon_{0}\hbar^{2}\pi c^3m_{0}^2}E|M_{T}|^2\rho_{r}(E)f_{c}(E)
    |\times(1-f_{v}(E))\label{Spectrum1}\
    |\end{align}
    |Here \(|M_{T}|^{2}\) is the transition matrix element, \(\rho_{r}\) the JDOS, and \(f_{c}\) and \(f_{v}\)
    |are the Fermi functions for the conduction band (CB) electrons and valence band (VB) holes, respectively.
    |To evaluate spectral distributions with Coulomb interactions and broadening effects, Eq. (\ref{Spectrum1})
    |is multiplied with exciton continuum enhancement \(S(\epsilon)\), and convolved with line broadening function
    |\(L_{t}(E)\). Approximating \(f_{c}\times (1-f_{v})\) with Boltzmann distribution we get the emitted spectra from:
    |\begin{align}\nonumber
    |R_{sp}(E)\propto\int_0^\infty |M_{T}|^2 \epsilon\rho_{r}(\epsilon)S(\epsilon)exp(-\epsilon/k_{B}T)\\
    |\times L_{t}(E-\epsilon)\mathrm{d}\epsilon\label{Spectrum2}\ ~,
    |\end{align}
    br
    | where \(k_{B}\) is the Boltzmann coefficient.
    | the exciton true continuum is:
    | \begin{align}
    | S_{s}(E)=&\pi\alpha\frac{e^{\pi\alpha}}{sinh(\pi\alpha)}\label{BulkEnh1}\\
    | \alpha=&\sqrt{\frac{E_{b}}{E-E_{g}}}\label{BulkEnh2}\
    | \end{align}
    | , before the emission, has a pole at \(E_{g}\) coinciding with zero in JDOS (\(\rho_{r}\) in
    | Eq. (\ref{Spectrum2})), but the combination with parabolic band edge, (\(\rho_{r}\propto \sqrt{E-E{g}}\))
    | leads to finite spectral power densities enabling the numerical integration of Eq. (\ref{Spectrum2}).
    | polarizations are observable. The corresponding enhancement factors are \cite{Shinada}:
    | \begin{align}
    | S_{TE}(E)=&\frac{e^{\pi\alpha}}{cosh(\pi\alpha)}\label{QwEnh1}\\
    | S_{TM}(E)=&(1+4\alpha^{2})\frac{e^{\pi\alpha}}{cosh(\pi\alpha)}\label{QwEnh2}\ ~,
    | \end{align}
    | where \(\alpha\) is given in Eq. (\ref{BulkEnh2}) and \(E_{g}\) is the bandgap energy in the quantum well

//-script(type='text/javascript').
