extends layout
block append scripts
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/jquery-ui/jquery-ui.js')
    script(src='/bower_components/jstree/dist/jstree.js')
    script(src='/bower_components/jqnotifybar/jquery.notifyBar.js')
    link(rel='stylesheet', href='/bower_components/jstree/dist/themes/default/style.min.css')
    link(rel='stylesheet', href='/bower_components/jquery-ui/themes/start/jquery-ui.min.css')
    link(rel='stylesheet', href='/bower_components/jqnotifybar/css/jquery.notifyBar.css')

block content
  //h3(style="color:Brown" align='center')= title
  //br
  div(style='messTaul')
    table
      tr
        td(colspan="2")
          h4(style="color:Brown" align='center')= title
      tr
        //-Ekan rivin eka sarake:
        td(style="vertical-align:top;text-align:left;border:1px solid white;")
          p(id='userMes')
          br
          b(id="msgHd") Message tree:
          br
          div(id="msgTree")
        td(style="vertical-align:top; text-align:left; border:1px solid white; padding-left:10px;")
          div
            form(id='frm-msgTree', role='form')
              label(for="msgThread") Thread:
              br
              input(type="text" id="msgThread" length="30" style='margin:5px' size="30")
              button(id='btnSaveMsg', style='margin-left:10px' class='medium-btn', type='button') Create message
              br
              label(for="msgHeader" id='lblHeader' style='display:none') Header:
              br
              input(type="text" id="msgHeader" maxlength="30" style='margin:5px; display:none' size="30")
              br
              label(for="msgText" id="msgLbl") Message:
              br
              textarea(id="msgText" cols="50" rows="10" maxlength="300" required)
              br

  style(type = "text/css").
    body {
      /*margin: 5px;
      padding: 5px;*/
      background-color: #F8FBFF;
    }

  //script(type='text/javascript').
  script
    include custmesgs.min.js