doctype html
//-html(lang="us")
//-  head
//-    meta(charset="utf-8"
//extends broaden
meta(name="viewport" content="width=device-width, initial-scale=1.0")

link(rel='stylesheet', href='/scripts/jquery-ui/themes/start/jquery-ui.min.css')
link(rel='stylesheet', href='/scripts/jstree/dist/themes/default/style.min.css')
link(rel="stylesheet", href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css")
//link(rel='stylesheet', href='/public/css/broadn.css')

div(id="mongoDialForm")
  form(id='frm-DirSel', role='form')
    //-Fieldset for simulation saving options:
    fieldset(id='saaveSim' class='fsetti')
      b(style='font-size:14px') Select saved items:
      br
      div
        input(type="checkbox" id="chkSavePars" checked)
        label(for="chkSavePars" class='label5') Calculation parameters
        br
        input(type="checkbox" id="chkSaveSimu")
        label(for="chkSaveSimu" id='lblsaveSimSpe' class='label5') Simulation
        br
        select(id="numSel")
          option(value='1000') 1000
          option(value='500' selected) 500
          option(value='333') 333
          option(value='250') 250
          option(value='200') 200
        label(for="numSel" class='label5') Saved simulation points
        //i(style='padding-left:10px')
        //|  Number of spectral points
        br
        input(type="checkbox" id="chkSaveExper")
        label(for="chkSaveExper" class='label5') Measurement data
    fieldset(class='fsetti')
      div(id='openOpti' style='display:none')
        input(type='radio' id='radioMeas' name='openWhat' checked)
        label(for='radioMeas' class='label6') Measurement
        input(type='radio' id='radioSimu' name='openWhat')
        label(for='radioSimu' class='label6') Simuation Params.
        br
      b(style='font-size:14px;') Select directory:
      br
      button(id='btnUserDir', class='big-btn-center', type='button') Private
      button(id='btnPublDir', class='big-btn-center', type='button') Public
      button(id='btnLocDir', class='big-btn-center',type='button') Local
    br
  form(id='frm-Login', role='form' )
    fieldset(class='fsetti')
      //-legend Log in to access private directories:
      b(style='font-size:14px') Log in to access private directories:
      br
      label(for='mngUsrnm' class='labelMongo') Username:
      //-input(id='mngUsrnm', type='text', name='username', maxlength='50', style='margin-left:5px', autofocus)
      input(id='mngUsrnm', type='text', name='username', maxlength='50', style='margin-left:5px', autofocus)
      br
      label(for="mngPWD" class='labelMongo') Password:
      input(id='mngPWD', type='password', name='password', maxlength='50', style='margin-left:5px')
      button(id='btnLogInni', class='medium-btn', type='button') Log in
      br
    br
  form(id='frm-FileTree', role='form')
    fieldset(class='fsetti')
      //-legend(id='FilTreLege') Files on server:
      b(style='font-size:14px' id='FilTreLege') Files on server:
      br
      div(id="mongoTree")
    fieldset(id="fsFileDesc" class='fsetti')
      b Directory:
      br
      input(type="text" id="directoName" style='margin:5px; width:550px;')
      br
      b Filename:
      br
      input(type="text" id="mongoFileName" style='margin:5px; width:550px;')
      br
      b(id='mongFileDescLbl') Description:
      br
      input(type="text" id="mongFileDesc" length="150" style='margin:5px; width:550px;')

  style(type = "text/css").
    .big-btn-center {
      width: 120px;
      height: 30px;
      margin-left: 30px;
      text-align: center;
      display: inline-block;
    }

    /* Dialog box fieldsets*/
    .fsetti {
      width: 630px;
      display: block;
      border: 1px solid green;
      padding: 1em;
    }

    /*btn-mngOpenSave uses this*/
    .medium-btn-inline {
      width: auto;
      height: 30px;
      text-align: center;
      float: left;
      display: inline-block;
    }

    /*scroll bottom uses this in  jquery*/
    .ui-widget-content {
      /*width:100%;*/
      opacity: 0.85;
      overflow-y:auto;
    }

    /*ilman tätä saattaa dialog boxin yläreuna jäädä bootstrapin alle*/
    .ui-dialog {
      z-index: 998 !important;
      background: lightyellow !important;
      max-height: 600px;
      overflow-y: auto;
    }

    /*Required for jsTree contextmenu plugin otherwise contextmenu not visible:*/
    .vakata-context {
      z-index: 999 !important;
    }

  //script(type='text/javascript').
  script
    include mongoDialForm.min.js

