//-doctype html
//-html(lang="us")
//-  head
//-    meta(charset="utf-8"
div(id="mongoDialForm")
  form(id='frm-DirSel', role='form' )
    fieldset
      b(style='font-size:14px') Select directory:
      br
      //-legend Select directory:
      button(id='btnUserDir', class='medium-btn', type='button') Private
      button(id='btnPublDir', class='medium-btn', type='button') Public
      button(id='btnLocDir', class='medium-btn', type='button') Local
    br
    fieldset
      label(id='mongFileDescLbl' for="mongFileDesc") Description:
      br
      input(type="text" id="mongFileDesc" length="150" style='margin:5px' size="60")
      br
  br
  form(id='frm-Login', role='form' )
    fieldset
      //-legend Log in to access private directories:
      b(style='font-size:14px') Log in to access private directories:
      br
      label(for='mngUsrnm' class='labelMongo') Username:
      //-input(id='mngUsrnm', type='text', name='username', maxlength='50', style='margin-left:5px', autofocus)
      input(id='mngUsrnm', type='text', name='username', maxlength='50', style='margin-left:5px', autofocus)
      br
      label(for="mngPWD" class='labelMongo') Password:
      input(id='mngPWD', type='password', name='password', maxlength='50', style='margin-left:5px')
      button(id='btnLogInni', class='medium-btn', type='button') Log in
      br
    br
  form(id='frm-FileTree', role='form')
    fieldset
      //-legend(id='FilTreLege') Files on server:
      b(style='font-size:14px' id='FilTreLege') Files on server:
      br
      label(for="directoName") Directory:
      br
      input(type="text" id="directoName" length="150" style='margin:5px' size="60")
      br
      label(for="mongoFileName") Filename:
      br
      input(type="text" id="mongoFileName" length="150" style='margin:5px' size="60")
      br
      b(id="mongoHd") Subdirectories and files:
      div(id="mongoTree")