doctype html
html(lang="us")
  head
    //-meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    //script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    //script(src="/bower_components/bootstrap-touchspin/src/jquery.bootstrap-touchspin.js")
    //script(src='/bower_components/Flot/jquery.flot.canvas.js')
    //link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    ////title "OTF - R &amp; T Calculator"
    script if (window.File && window.FileReader && window.FileList && window.Blob){console.log('Great Success: The File APIs are fully supported in your browser. see: http://caniuse.com/#feat=fileapi');}
     |else{alert('HTML5 - File APIs are not fully supported in this browser. See: http://caniuse.com/#feat=fileapi');}
    //script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/jquery-ui/jquery-ui.min.js')
    script(src='/bower_components/jeditable/jquery.jeditable.js')
    //script(src='/bower_components/jquery-validation/dist/jquery.validate.js')
    script(src='/public/js/jv-tfrcalci.js')
    script(src='/bower_components/Flot/jquery.flot.js')
    script(src='/bower_components/Flot/jquery.flot.crosshair.js')
    script(src='/bower_components/Flot/jquery.flot.selection.js')
    script(src='/bower_components/flot-axislabels/jquery.flot.axislabels.js')
    script(src='/bower_components/datatables/media/js/jquery.dataTables.min.js')
    script(src='/bower_components/js-math-complex/math-complex.min.js')
    script(src='/bower_components/jstree/dist/jstree.min.js')
    script(src='/public/js/jv-fileopsit.min.js')
    //script(src='/public/js/repeatedclick.js')
    //-repeated click needed for spinner controls on settings and file-stack tabs
    script(src='/public/js/jv-tablandplotit.min.js')
    script(src='/bower_components/jqnotifybar/jquery.notifyBar.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    link(rel='stylesheet', href='/bower_components/jquery-ui/themes/start/jquery-ui.min.css')
    link(rel='stylesheet', href='/bower_components/jqnotifybar/css/jquery.notifyBar.css')
    link(rel='stylesheet', href='/bower_components/jstree/dist/themes/default/style.min.css')
    link(rel='stylesheet', href='/bower_components/datatables/media/css/jquery.dataTables.min.css')
    link(rel='stylesheet', href='/public/css/jv-tfrcalcs.css')
    //-link(rel='stylesheet', href='/bower_components/jquery-file-tree/dist/css/jqueryFileTree.min.css', media="screen")
    //-tarkastetaan että selain tukee File APIa, siirrä seuraava rivi if silmukkaan, antaa ilmoituksen onnistumisesta
    //-alert('Great Success: The File APIs are fully supported in this browser. see: http://caniuse.com/#feat=fileapi');
    //
  body
    div(class='wrapperi')
      div(id="tabis")
        ul
          li
            a(id="intro",href="#tabs-1") Instructions
          li
            a(id="Settings",href="#tabs-2") Calculation Settings
          li
            a(id="Stack",href="#tabs-6") Film Stack Editor
          li
            a(id="Targets",href="#tabs-7") Spectral Targets Editor
          li
            a(id="Materials",href="#tabs-8") Materials Data Editor
        include tab1
        include tab2
        include tab6
        include tab7
        include tab8
      include mongoDialForm

  script(type='text/javascript').
    //for google analytics :
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      },
      i[r].l = 1 * new Date();
      a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-97032034-1', 'auto');
    ga('send', 'pageview');