//-Created by Juha on 3/7/2016.
extends broaden
block levenee
    h2 Broadening simulations
    div(id='wrapper')
      div(id='main')
        h3(id='inhomHeader') Inhomogeneous
        |   Calculated spectra are obtained using equation (2) on the
        -equation2="/inhomogen"
        a(href="#{equation2}" target="_blank")     Inhomogeneous details
        |    page. (Used to evaluate the broken line curves on that page.)
        br
        br
        div(id="footer" style="paddig-left:50px")
          Copyright &copy; 2007 - 2014 IOLA and Ole Laursen :
        //div(id="content")
          //this contains the playground for the simulation graph:
        div(class="demo-container")
          div(id="ph1_inhomog" target="_blank" class="demo-placeholder")
        b(id='inhDescLbl' style='color:Brown') Measurement details:
        b(id='inhDesc' style="color:Indigo; margin-left:10px;")

        h3 Homogeneous
        |   Calculated spectra are obtained by using broadening function no: 6 or 7 on the
        -equation3="/homogen"
        a(href="#{equation3}" target="_blank")     Homogeneous details
        |    page.
        div(id="content2")
          //this contains the playground for the simulation graph
          div(class="demo-container")
            div(id="ph2_homog" class="demo-placeholder")
          b(id='homDescLbl' style='color:Brown') Measured details:
          b(id='homDesc' style="color:Indigo; margin-left:10px;")
        //-img(id="huuhaa" src="" alt="Tallennettava kuva" width="42" height="42")
        //-flot graph 0.8.3 versiossa canvas ei sisällä akselien tekstejä eikä
        //-käyrien captioneja. Nämä on luvattu vasta 0.9. versioon
        //-Ei kannata satsata eforttia kuvan copy-paste rutiiniin canvaksesta ennen sitä.

    div(id='paramDial' title="Parameter values")
      //spectral range settings******************************************
      div(id='spRange' style='display:none')
        table(style='width:100%;')
          tr
            td(class='huihai')
              b Starts at:
              br
              input(id="eVstart_touch" name="eVstart_touch" class="form-control input-sm")
            td(class='huihai')
              b Stops at:
              br
              input(id="eVstop_touch" name="eVstop_touch" class="form-control input-sm")
            td(class='huihai')
              br
              button(id='rangeok' type='button' class='medium-btn2') OK
              //-button(id='rangeok' type='button' class='medium-btn2') OK

      //parameters for Boltzmann distribution for energy occupancy*******
      div(id='eg_et' style='display:none')
        p \(f_{B}=exp(-\epsilon/k_{B}T)\), and \(\epsilon > E_{t}\), the energy minimum. For bulks set: \(E_{t}=E_{g}\)
        table(style='width:100%;')
          tr
            td(class='huihai')
              b Et [eV]:
              br
              input(id="Et_touch" class="form-control input-sm")
            td(class='huihai')
              b Temperature [K]:
              br
              input(id="TemK_touch" class="form-control input-sm")
            td(class='huihai')
              br
              button(id='evetok' type='button' class='medium-btn2') OK

      //parameters for Joint density of states***************************
      div(id='spJdos' style='display:none')
        table(style='width:100%;')
          tr
            td(class='huihai')
              b   Bulk-JDOS
              br
              input(type="radio" id="bulkJDOS" name="jdos" value="bulk" style="margin-left:5px")
              b(style="margin-left:10px;") \(\rho_{r}\propto \sqrt{\epsilon-E_{t}}\)
            td(class='huihai')
              b   QW-JDOS
              br
              input(type="radio" id="qwJDOS" name="jdos" value="qw" style="margin-left:5px")
              b(style="margin-left:10px;") Heaviside step
            td(class='huihai')
              button(id='jdosok' type='button' class='medium-btn2') OK


      //parameters for Exciton enhancement*******************************
      div(id="exEnha" style='display:none')
        table(id="qwdetails" style='width:100%;')
          tr(class='hideshow')
            td(class='huihai')
              b(style='font-size:16px')  Viewed on:
            td(class='huihai')
              input(type="radio" id="dirPar" name="dirBut" value="parallel" checked="checked" style="margin-right:7px")
              label(for="dirPar") QW-plane:
            td(class='huihai')
              input(type="radio" id="dirPerp" name="dirBut" value="perpend" style="margin-right:7px")
              label(for="dirPerp") QW-normal:
          tr(class='hideshow')
            td(class='huihai')
              b(style='font-size:16px') Polarization:
            td(class='huihai')
              input(type="radio" id="enhTE" name="enhBut" value="TE" checked="checked" style="margin-right:15px")
              label(for="enhTE") TE:
            td(class='huihai')
              input(type="radio" id="enhTM" name="enhBut" value="TM" style="margin-right:15px")
              label(for="enhTM") TM:
          tr
            td(class='huihai')
              b Binding energy:
              br
              input(id="eVbind_touch" name="eVbind_touch" class="form-control input-sm")
            td(class='huihai')
              div(id='haideri' style='display:none')
                b Shape param [meV]:
                br
                input(id="ex0_touch" name="ex0_touch" class="form-control input-sm" )
            td(class='huihai')
              button(id='exenhaok' type='button' class='medium-btn2') OK

      //parameters for Asymmetric and symmetric Urbach broadenings*******
      div(id='spUrbach' style='display:none')
        p(id='urbachAsymm' style='display:none')  \(L_{ih}(\epsilon)=\frac{1}{2}(1-sgn(E_{f}-\epsilon))\cdot\exp[-(E_{f}-\epsilon)/E_{u}]\quad\), Here \(E_{f}=E_{t}\).
        p(id='urbachSymm' style='display:none')  \(L_{ih}(\epsilon)=\exp[-|E_{f}-\epsilon|/E_{u}]\quad\), Here \(E_{f}=E_{t}\).
        table(style='width:100%;')
          tr
            td(class='huihai')
              b   Urbach tail, `E_{u}`
              br
              input(id="eveu_touch" class="form-control input-sm")
            td(class='huihai')
              br
              button(id='urbachok' type='button' class='medium-btn2') OK
            td
        i Graphed either alone or used as a convolution kernel in the calculation.
        p For the Urbach focus, `E_{f}` adjustment,  change the `E_{t}` in the Boltzmann distribution.

      //parameters for Gaussian broadening function***********************
      div(id='spGaussian' style='display:none')
        //if user clicks on Gaussian title this becomes visible
        p \(\ L_{ih}(\Delta E)=\frac{1}{\sigma\sqrt{2\pi}}exp(-\frac{\Delta E^{2}}{2\sigma^{2}})\)
        i Graphed either alone or used as a convolution kernel in the calculation.
        table(style='width:100%;')
          tr
            td(class='huihai')
              b   Standard dev. `\sigma`
              br
              input(id="gausig_touch" class="form-control input-sm")
            td(class='huihai')
              br
              button(id='gaussianok' type='button' class='medium-btn2') OK
            td

      //parameters for Sech^n time relaxation broadening*******************
      div(id='spSech' style='display:none')
        //if user clicks on Sech title this becomes visible
        i Non-Markovian, ad hoc given e-h pair relaxation time function:
        b  \(\ L_{t}(\Delta E)=\mathfrak{F}[sech^{n}(\frac{t}{\tau \times n})]\),
        |     where \(\mathfrak{F}\)  stands for Fourier transform. Sech is the hyperbolic secant function and \(\tau\ \) the
        | relaxation time.
        table(style='width:100%;')
          tr
            td(class='huihai')
              b   Exponent,  `n`
              br
              input(id="sechN_touch" class="form-control input-sm")
            td(class='huihai')
              b   relaxation time `\tau` [fs]
              br
              input(id="sechTau_touch" class="form-control input-sm")
            td(class='huihai')
              br
              button(id='sechok' type='button' class='medium-btn2') OK
        i Graphed either alone or used as a convolution kernel in the calculation. For peak position
          | adjustment use the `E_{t}` option in the Boltzmann distribution.

      //parameters for Lorentzian broadening function ***********************
      div(id='spLorentz' style='display:none')
        b \(\ L_{t}(\Delta E)=\frac{\tau_{r}/(\pi\hbar)}{1+\tau_{r}^{2}\Delta E^{2}/\hbar^{2}}\)
        table(style='width:100%;')
          tr
            td(class='huihai')
              b   relax.time `\mathbf{\tau_{r}}` [fs]
              br
              input(id="tauR_touch" class="form-control input-sm")
            td(class='huihai')
              br
              button(id='lorentzok' type='button' class='medium-btn2') OK
            td
        i Graphed either alone or used as a convolution kernel in the calculation. For peak position
          | adjustment use the `E_{t}` option in the Boltzmann distribution.

      //Parameters for product of Lorentzian functions broadening*************
      div(id='spDlorentz' style='display:none')
        //if user clicks on Dlorentz title this becomes visible
        b \(\ L_{t}(\Delta E)= (\tau_{be}+\tau_{bh})/(\pi\hbar)\times
          |\frac{1}{1+\tau_{be}^{2}\Delta E^{2}/\hbar^{2}}\times
          |\frac{1}{1+\tau_{bh}^{2}\Delta E^{2}/\hbar^{2}}\)
        br
        table(style='width:100%;')
          tr
            td(class='huihai')
              b  relax.time `\mathbf{\tau_{be}}` [fs]
              br
              input(id="tauBe_touch" class="form-control input-sm")
            td(class='huihai')
              b  relax.time `\mathbf{\tau_{bh}}` [fs]
              input(id="tauBh_touch" class="form-control input-sm")
            td
              br
              button(id='dlorentzok' type='button' class='medium-btn2') OK
        i Graphed either alone or used as a convolution kernel in the calculation. For peak position
          | adjustment use the `E_{t}` option in the Boltzmann distribution.

    div(id="settnDial" title="Graphing details")
      fieldset(id='spWhat' style='display:none;')
        b(id='bPlotSel1' style='font-size:16px;') Plotting selector for: \(R_{ih}(E)=\int_0^\infty \epsilon\rho_{r}
          |(\epsilon)S(\epsilon)exp(-\epsilon/k_{B}T)\times L_{ih}(E-\epsilon)d\epsilon\)
        b(id='bPlotSel2' style='font-size:16px; display:none;') Plotting selector for: \(R_{sp}(E)=\int_0^\infty R_{ih}
          |(\epsilon)\times L_{h}(E-\epsilon)d\epsilon\)
        //i(style='float:right')    (click selection titles to edit parameters)
        //i(style='float:left') (click on titles to edit \(R_{ih}\) parameters)
        i(style="color:Brown;") (click on titles to edit parameters in \(R_{ih}(E)\))
        //p //vaaditaan jotta tulee  carriage return
        br
        //-legend(style="font-size:100%") Plotting selector
        div(id='divEpsilon' style='display:none')
          input(id="pltEpsilon" style='margin-left:7px' type="checkbox" value='No')
          //-p(style='padding-left:30px') Photon energy: \(\epsilon\)
          //prevent scrolling to top of link page by using: javascript:void(0);
          a(href="javascript:void(0)", id="hrefEpsilon", style='padding-left:30px; color:DarkBlue;')
            | Photon energy, \(\epsilon\)
            span(style="color:Brown;")    (set range in [eV])
        div(id='divJdos' style='display:none')
          input(id="pltJdos" style='margin-left:7px' type="checkbox" value='No')
          a(href="javascript:void(0)", id="hrefJdos", style='padding-left:30px; color:DarkBlue;')
            | Joint Density of States,  \(\rho_{r}\)
            span(style="color:Brown;")    (select bulk or QW model)
        div(id='divSommerf' style='display:none')
          input(id="pltSommerf" style='margin-left:7px' type="checkbox" value='No')
          a(href="javascript:void(0)", id="hrefSommerf", style='padding-left:30px; color:DarkBlue;')
            | Sommerfeldt enhancement, \(S(\epsilon)\)
            span(style="color:Brown;")    (set exiton parameters)
        div(id='divFcv' style='display:none')
          input(id="pltFcv" style='margin-left:7px' type="checkbox" value='No')
          a(href="javascript:void(0)", id="hrefTransito", style='padding-left:30px; color:DarkBlue;')
            | Boltzmann distribution
            span(style="color:Brown;")    (set transition energy, \(E_{t}\) and T in [K])
        b(id='bConvolOpt' style='font-size:16px') Broadening [Lih] options in the convolution integral:
        div(id='divUrbach' style='display:none')
          input(id="pltUrbach" style='margin-left:7px' type="checkbox" value='No')
          a(href="javascript:void(0)", id="hrefUrbach", style='padding-left:30px; color:DarkBlue;')
            | Asymmetric Urbach tail
            span(style="color:Brown;")    (set tail parameter \(E_{u}\))
        div(id='divSurbach' style='display:none')
          input(id="pltsUrbach" style='margin-left:7px' type="checkbox" value='No')
          //-hidden input for file name to open local file using HTML5 file API
          //input(type="file" id="emisLocFiles" style="display:none" name="emisLocFiles")
          a(href="javascript:void(0)", id="hrefsUrbach", style='padding-left:30px; color:DarkBlue;')
            | Symmetric Urbach distribution
            span(style="color:Brown;")     (set tail parameter \(E_{u}\))
        div(id='divLorentz' style='display:none')
          input(id="pltLorentz" style='margin-left:7px' type="checkbox" value='No')
          a(href="javascript:void(0)", id="hrefLorentz", style='padding-left:30px; color:DarkBlue;')
           | Lorentzian
           span(style="color:Brown;")     (set broadening parameter \(\tau_{r}\))
        div(id='divDLorentz' style='display:none')
          input(id="pltDlorentz" style='margin-left:7px' type="checkbox" value='No')
          a(href="javascript:void(0)", id="hrefdLorentz", style='padding-left:30px; color:DarkBlue;')
           | Product of Lorentzians
           span(style="color:Brown;")     (set broadening parameters \(\tau_{be}\) and \(\tau_{bh}\))
        div(id='divGaussian' style='display:none')
          input(id="pltGaussian" style='margin-left:7px' type="checkbox" value='No')
          a(href="javascript:void(0)", id="hrefGaussian", style='padding-left:30px; color:DarkBlue;')
            | Gaussian line shape
            span(style="color:Brown;")     (set broadening parameter \(\sigma \) )
        div(id='divSech' style='display:none')
          input(id="pltSech" style='margin-left:7px' type="checkbox" value='No')
          a(href="javascript:void(0)", id="hrefSech", style='padding-left:30px; color:DarkBlue;')
            | Sech function line shape
            span(style="color:Brown;")     (set relaxation time, \(\tau\) and exponent, n )
        div(id='divHomogConv' style='display:none')
          input(id="pltHomConv" style='margin-left:7px' type="checkbox" value='No')
          i(style='padding-left:30px; color:Brown;')
            |  Calculate broadening (convolve) using selected lineshape
        div(id='divNormalize' style='display:none')
          input(id="pltNormalize" style='margin-left:7px' type="checkbox" value='No')
          i(style='padding-left:30px; color:Brown;')
            |  Normalize spectrum to unity peak value
        div

      br
      button(id='openMeasFile' style="margin:0px 5px") Open meas.
      button(id='saveMeasFile' style="margin:0px 5px") Save meas.
      button(id='openSimFile' style="margin:0px 5px") Open simul.
      button(id='saveSimFile' style="margin:0px 5px") Save simul.

    //hidden input for reading measurement spectra from local files:
    input(type="file" id="emisLocFiles" style="display:none" name="emisLocFiles")
    //hidden input for reading simulations spectra/parameters from local files:
    input(type="file" id="simLocFiles" style="display:none" name="simLocFiles")

    include mongoDialForm
    //-correct indenting is required

    //-*****************************************************************************/
    style(type = "text/css").
      /* Simulation graph placeholders*/
      .demo-placeholder {
        /*width: 600px;
        height: 400px;*/
        width: 820px;
        height: 430px;
        font-size: 14px;
        line-height: 1.2em;
      }

      /* Simulation graph containers*/
      .demo-container {
        box-sizing: border-box;
        width: 850px;
        height: 460px;
        padding: 20px 15px 15px 15px;
        margin: 15px auto 30px auto;
        border: 1px solid #ddd;
        background: #fff;
        background: linear-gradient(#f6f6f6 0, #fff 50px);
        background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
        background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
        background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
        background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
        -o-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
        margin-left: 10px;
      }

      /* Dialog box inputs*/
      .inputti {
        width: 45px;
        margin-left: 13px;
      }

      /* Dialog box inputs*/
      .spinneri {
        width: 45px;
      }

      /* Dialog box inputs*/
      .inputti2 {
        width: 45px;
        margin-left: 13px;
        text-align: left;
      }

      /* Dialog box fieldsets*/
      fieldset {
        border: 1px solid green;
        padding: 1em;
      }

      /* Dialog box labels*/
      label {
        width: 23%;
        margin-right: 5px;
        text-align: right;
        font-weight: bold;
      }

      /* Boltzmann distr Et label*/
      .eV_Et-label {
        width: 10%;
        margin-right: 5px;
        text-align: right;
        font-weight: bold;
      }

      /* Boltzmann distr temp label*/
      .temp-label {
        width: 17%;
        margin-right: 5px;
        text-align: right;
        font-weight: bold;
      }

      /* Dialog box fieldset titles*/
      .otsikko {
        font-size: 16px;
        display: none;
      }

      /* Dialog box fieldset labels*/
      .label2 {
        width: 40%;
        margin-right: 5px;
        text-align: right;
        font-weight: bold;
      }

      /* Dialog box fieldset labels*/
      .label3 {
        width: 15%;
        margin-right: 5px;
        text-align: left;
        font-weight: bold;
      }

      /* Dialog box fieldset labels*/
      .label4 {
        width: 32%;
        margin-right: 5px;
        margin-left: 15px;
        text-align: right;
        font-weight: bold;
      }

      /* Dialog box fieldset labels*/
      .label5 {
        width: 40%;
        margin-right: 5px;
        text-align: left;
        padding-left: 20px;
        font-weight: normal;
      }

      /* Dialog box fieldset labels*/
      .label6 {
        width: 30%;
        margin-right: 5px;
        text-align: left;
        padding-left: 20px;
        font-weight: normal;
      }

      .big-btn-left {
        width: 90px;
        height: 40px;
        float: left;
      }

      .big-btn-center {
        width: 120px;
        height: 50px;
        text-align: center;
        float: left;
        display: inline-block;
      }

      .big-btn {
        width: 120px;
        height: 50px;
        float: right;
      }

      .medium-btn-left {
        width: 120px;
        height: 30px;
        float: left;
      }

      .medium-btn-right {
        width: 120px;
        height: 30px;
        float: right;
      }

      /* button formatting in dialog form for directory selection: */
      .medium-btn {
        width: 120px;
        height: 30px;
        float: right;
        margin-right: 30px;
      }

      /* button formatting in dialog form for energy range accepting: */
      .medium-btn2 {
        width: 120px;
        height: 30px;
        float: right;
        margin-right: 20px;
      }

      /* not in use */
      .small-btn {
        width: 50px;
        height: 20px;
      }

      .huihai {
        width:33%;
        border: 1px solid sandybrown;
        padding-left:30px;
      }

    //-******************************************************************************/
    //-******************************************************************************/
    //script(type="text/javascript").
    script
      include spectralmodel.min.js

