div(id="tabs-1")
  p
    b Easy start:
  div  On the:
  b(style="color:green")  Film Stack Editor
  |   TAB open a default stack in the Public directory (on the server).
  br
  br
  p
    b Step 1:
  div Use the
    br
    b(style="color:green")    Calculation Settings
    |   TAB for calculation parameter values
  br
  p
    b Step 2:
  div Populate 'materials list' with refractive index data from local or server files using:
    br
    b(style="color:green")   Materials Data Editor
    |   TAB
  br
  p
    b Step 3:
  div Populate 'Spectral targets list' with spectral data from local or server files using:
    br
    b(style="color:green")   Spectral Targets Editor
    |   TAB
  br
  p
    b Step 4:
  div Define the film stack structure and select target spectrum on:
    br
    b(style="color:green")   Film Stack Editor
    |   TAB
    br
    | Perform calculations using either the 'manual-' or 'auto-tuning' mode.
  br
  p
    b Step 5:
  div Save data either to server (uploaded) or local (downloaded) files:
    br
    b(style="color:green")   Use save buttons on the earlier used TAB's.
  | By default, local saving takes place into the downloads folder defined in your browser settings
  br
  | As a safety check, Mozilla-FF provides methods to check and inspect the file contents before the saving.
  br
  | For the checking, a basic text editor without scripting possibility is recommended. MS-Notepad is OK, but does
  br
  | not show the contents properly, while it requires CR,LF characters to start a new line.
  br
  | Google Chrome in turn provides the possibility to edit the filename and select the folder for the local saving.
  br
  | Internet Explorer and MS-Edge browsers support HTML5 File Apis through blob objects (binary large object)
  br
  | and file drag and drop. As these are not applied here (and this application uses local saving to text files),
  br
  | the MS-browsers are not recommend if you want local storage. see also http://caniuse.com/#search=file%20api
  br
  p
    b Step 6:
  div The easiest method to use your own material or spectral data:
    br
    | Open one of the files in public directory on the server, save it to your local folder,
    | use your preferred editor to modify the contents and rename the file.