//-tabs settings for calculations
div(id="tabs-2", style="height:auto;" )
  table(class='ModForm1')
    //-ensimmäinen rivi koko leveydellä
    tr
      td(colspan="2" class="editTabs" style="background-color: #eee;")
        pre(class="bblueText1" style="margin-right:5px;background-color: #eee;") Active user:
        label(id="UserName" class="blueText") No Login
    //-toinen rivi
    tr
      //-vasen sarake 50%:n leveydellä editTabs2:ssa
      td(class="editTabs2")
        div(class="bbrownText") Spectral mode:
          br
          input(type="radio" id="setRefl" name="setCalcfor" value="R" checked="checked" style="margin-left:40px;")
          label(id="setReflLbl" for="setRefl" class="bblueText1")  Reflectance
          br
          input(type="radio" id="setTrans" name="setCalcfor" value="T" style="margin-left:40px;")
          label(id="setTranLbl" for="setTrans" class="bblueText1")  Transmittance
          br
        div(class="bbrownText")
          b(id="setTarg") Calculated  reflectance includes:
          br
          input(type="checkbox" id="frontR" style="margin-left:40px;")
          label(for="frontR" class="bblueText1")  Cover matrl. top surface R%
          br
          input(type="checkbox" id="bottomR" style="margin-left:40px;")
          label(for="bottomR" class="bblueText1")  Substrate backside R%
          br
          br
      //-oikean puoleinen sarake 50%.n leveys editTabs2:ssa
      td(class="editTabs2")
        div(class="bbrownText") Spectral graphing unit:
          br
          input(type="radio" id="setNM" name="setUnit" value="nm" checked="checked" style="margin-left:30px;")
          label(for="setNM" class="bblueText1")  [ nm ]
          input(type="radio" id="setUM" name="setUnit" value="um" style="margin-left:30px;")
          label(for="setUM" class="bblueText1")  [ um ]
          input(type="radio" id="setEV" name="setUnit" value="eV" style="margin-left:30px;")
          label(for="setEV" class="bblueText1")  [ eV ]
          br
          br
        div(class="bbrownText") Light incidence direction:
          br
          input(type="radio" id="setNormal" name="incidenceA" value="Normal" checked="checked" style="margin-left:30px;")
          label(for="setNormal" class="bblueText1")  Perpendicular
          input(type="radio" id="setOblique" name="incidenceA" value="Oblique" style="margin-left:30px;")
          label(for="setOblique" class="bblueText1")  Oblique
        div(class="bblueText1" id="obliDiv")
          br
          label(for='incAng' style="margin-left:30px;") Incidence angle:
          input(id="incAng" class="spinner2" style="padding-left:15px;")
          label(style='padding-left:10px;') [degr.]
          br
          label(for="TEpol" style="margin-left:30px;") Polarization:
          input(id="TEpol" type="radio" name="polSel" checked="checked" style="margin-left:30px;" value="TE")
          label(style='padding-left:10px;') TE (s)
          input(id="TMpol" type="radio" name="polSel" style="margin-left:30px;" value="TM")
          label(style='padding-left:10px;') TM (p)
    tr
      td(class="editTabs2" bgcolor="#fcf0ba")
        br
        div
          label(for="SpStart" id="lblStart" class="bblueText1")  Start at wavelength:
          input(id="SpStart" style="width:60px")
          label(id="lblStartUn" class="bblueText1")  [ nm ]
          br
      td(class="editTabs2")
        br
        div
          label(for="cThickn" class="bblueText1") Cover material thickness:
          input(id="cThickn" name="cThickn" style="width:60px")
          label(class="bblueText1")  [ um ]
        br
    tr
      td(class="editTabs2")
        br
        div
          label(for="SpStop", id="lblStop" class="bblueText1") Stop at wavelength:
          input(id="SpStop" name="SpStop" style="width:60px")
          label(id="lblStopUn" class="bblueText1")  [ nm ]
          br
        br
      td(class="editTabs2")
        br
        div
          label(for="sThickn" class="bblueText1") Substrate thickness:
          input(id="sThickn" name="sThickn" style="width:60px")
          label(class="bblueText1")  [ um ]
          br
    tr
      td(colspan="2" class="editTabs2")
        //-td(colspan="2" style="text-align:center; background-color:#FFD700;height:20px;")
        br
        div
          label(class= "bblueText1") Selected spectral range:
          label(id="spRange1" class= "bblueText1") 400
          label(class= "bblueText1") -
          label(id="spRange2" class="bblueText1") 1000
          label(class="bblueText1") [nm]
          label(id="CalcRes" class="bblueText3") Reflectance is graphed on nm axis
          br
          br
          br
          //-jotta ei väritys heti lopu tekstin jälkeen