//-Films stack view and edit
div(id="tabs-6")
  table(class="ModForm1")
    //-sarake jossa materiaalipakka:
    //col(style="width:40%")
    //-sarake jossa spektraali graafi:
    //col(style="width:60%")
    tr
      //-Ekan rivin eka sarake:
      td(class="stackTabs1")
        div
          //-b(class="bblueText") Thin film stack:
        button(id="btnOpenStack" class="ui-button ui-widget ui-state-default ui-corner-all " +
        "ui-button-text-icon-primary" style="margin-left:1em; margin-right:10px; margin-bottom:4px;")
          span(class="ui-icon ui-icon-document")
          span(class="ui-button-text") Open stack
        button(id="btnSaveStack" class="ui-button ui-widget ui-state-default ui-corner-all " +
        "ui-button-text-icon-primary" style="margin-bottom:4px;")
          span(class="ui-icon ui-icon-document")
          span(class="ui-button-text") Save stack
        br
        //-label(for='ediStack' id='ediStackLbl' style="margin:15px") File:
        label(for='ediStack' id='ediStackLbl' class="bblueText5") Stack file:
        input(id="ediStack" type="text" name="ediStack" value="" size="30%" style="margin-left:0.3em")
        div
          br
          label(for='descStack' id='descStackLbl' class="bblueText5") Description:
          br
          input(id="descStack" type="text" name="descStack" value="" size="40%" style="margin-left:1em")
          input(type="file" id="stackLocFiles" style="display:none" name="stackLocFiles")
          br
          br
          label(for="stackTargs" class="bblueText5 labelOnInput")
            span(id="stackTargsLbl") Spectral target:
            select(id="stackTargs" class="selectUnderLabel" style="font-size:14px")
        div(id="StackKontti")
          table(id="StackEdit" class="display")
            //-display class tekee taulukossa jokatoisen  rivin eriväriseksi
        div
          b   
        div
          button(id="btnAddFilm" class="add_row ui-button ui-widget ui-state-default ui-corner-all " +
          "ui-button-disabled ui-state-disabled ui-button-text-icon-primary")
            span(class="ui-button-icon-primary ui-icon ui-icon-plus")
            span(class="ui-button-text") Add Film..
          button(id="btnDelFilm" class="delete_row ui-button ui-widget ui-state-default ui-corner-all " +
          "ui-button-disabled ui-state-disabled ui-button-text-icon-primary")
            span(class="ui-button-icon-primary ui-icon ui-icon-trash")
            span(class="ui-button-text") Remove Film
      //-Ekan rivin toka sarake:
      td(class="stackTabs2" style="padding-left:10px;")
        div
          label(for="setStack" class="bblueText5" id="stackModeLbl") Graph mode:
          input(type="radio" id="setStack" name="graphMode" value="StackRT" checked="checked")
          b(id="StackRTb")   Stack Reflectance
          pre   
          input(type="radio" id="setFilm" name="graphMode" value="FilmNK" )
          b(id="StackNKb")   Selected layer n & k  
            //pre Single film n & k
          //b(id="stackMode" class="bblueText") Stack spectrum for reflectance 
        //div(id="ResizeAble6" style="height:50%;width:100%;display:block;" class="ui-widget-content")
        div(id="ResizeAble6" style="width:100%;display:block;" class="ui-widget-content")
          //div(id="placeholder6" style="width:100%;height:400px;display:block;")
          div(id="placeholder6" style="width:100%;height:400px;display:run-in;")
        br
        div(id="adjustThs" class="ui-widget-content" display="inline")
          label(for="tuneSpin" class="bblueText" style="margin-left:10px; margin-top:5px;") Thickn.Incr[%]:
          input(id="tuneSpin" style="width:40px; margin-top:5px;")
          label(for="tuneDif" class="bblueText")
            span(style="margin-left:20px;margin-right:5px;") Ave.Err:
          input(id="tuneDif" name="tuneDif" style="width:70px; margin-top:5px;" value="Average")
          label(for="tuneVar" class="bblueText")
            span(style="margin-left:20px;margin-right:5px;") Err.Var:
          input(id="tuneVar" name="tuneVar" style="width:70px; margin-top:5px;" value="Variance")
          br
          button(id="repTune" class="ui-button ui-widget ui-state-default " +
          "ui-corner-all ui-button-text-icon-primary" style="margin-left:10px; margin-bottom:4px;")
            span(class="ui-button-icon-primary ui-icon ui-icon-refresh")
            span(class="ui-button-text") Add Incr.
          button(id="autoTune" class="ui-button ui-widget ui-state-default " +
          "ui-corner-all ui-button-text-icon-primary" style="margin-left:10px; margin-bottom:4px;")
            span(class="ui-button-icon-primary ui-icon ui-icon-carat-2-e-w")
            span(class="ui-button-text") AutoTune
          button(id="reveTune" class="ui-button ui-widget ui-state-default " +
          "ui-corner-all ui-button-text-icon-primary" style="margin-left:10px; margin-bottom:4px;")
            span(class="ui-button-icon-primary ui-icon ui-icon-arrowreturnthick-1-n")
            span(class="ui-button-text") Revert