doctype html
html(lang="us")
  head
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/jquery-ui/jquery-ui.js')
    script(src='/bower_components/jeditable/jquery.jeditable.js')
    link(rel='stylesheet', href='/bower_components/jquery-ui/themes/start/jquery-ui.min.css')
    script(src='/public/js/jv-testi.js')
    //link(rel='stylesheet', href='/public/css/jv-tfrcalc.css')
    //script(src='/bower_components/flot/jquery.flot.js')
    //script(src='/bower_components/flot/jquery.flot.crosshair.js')
    //script(src='/bower_components/flot/jquery.flot.selection.js')
    //script(src='/bower_components/flot-axislabels/jquery.flot.axislabels.js')
    //script(src='/bower_components/datatables/media/js/jquery.dataTables.min.js')
    //-script(src='/bower_components/jquery-validate/dist/jquery.validate.min.js')
    //script(src='/bower_components/js-math-complex/math-complex.min.js')
    //script(src='/bower_components/jstree/dist/jstree.min.js')
    //script(src='/public/js/jv-fileopsit.js')
    //script(src='/public/js/repeatedclick.js')
    //-repeated click needed for spinner controls on settings and file-stack tabs
    //script(src='/js/jv-tablandplotit.js')
    //script(src='/bower_components/jqnotifybar/jquery.notifyBar.js')
    //link(rel='stylesheet', href='/bower_components/jqnotifybar/css/jquery.notifyBar.css')
    //script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    //link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    //link(rel='stylesheet', href='/css/jv-tfrcalc.css')
    //link(rel='stylesheet', href='/bower_components/jstree/dist/themes/default/style.min.css')
    //link(rel='stylesheet', href='/bower_components/datatables/media/css/jquery.dataTables.min.css')
    //-link(rel='stylesheet', href='/bower_components/jquery-file-tree/dist/css/jqueryFileTree.min.css', media="screen")
    //-tarkastetaan että selain tukee File APIa, siirrä seuraava rivi if silmukkaan, antaa ilmoituksen onnistumisesta
    //-alert('Great Success: The File APIs are fully supported in this browser. see: http://caniuse.com/#feat=fileapi');
  body
    div(id="tabsiX")
      ul
        li
          a(id='hh1',href="#tabX-1") huuhaa1
        li
          a(id='hh2',href="#tabX-2") huuhaa2
        li
          a(id='hh3',href="#tabX-3") huuhaa3
        li
          a(id='hh4',href="#tabX-4") huuhaa4
        li
          a(id='hh5',href="#tabX-5") huuhaa5
      include tabX1.jade
      include tabX2.jade
      include tabX3.jade
      include tabX4.jade
      include tabX5.jade
    //-div
      div(id="huuhaa1")
        p
          b Step 1:
            div Define calculation mode and settings (Reflectance/Transmittance, wavelength range etc.)
            | on "Calculation Settings" TAB
      div(id="huuhaa2")
        p
          b Step 2:
            div Define calculation mode and settings (Reflectance/Transmittance, wavelength range etc.)
            | on "Calculation Settings" TAB
      div(id="huuhaa3")
        p
          b Step 3:
            div Define calculation mode and settings (Reflectance/Transmittance, wavelength range etc.)
            | on "Calculation Settings" TAB
      div(id="huuhaa4")
        p
          b Step 4:
            div Define calculation mode and settings (Reflectance/Transmittance, wavelength range etc.)
            | on "Calculation Settings" TAB
      div(id="huuhaa5")
        p
          b Step 5:
            div Define calculation mode and settings (Reflectance/Transmittance, wavelength range etc.)
            | on "Calculation Settings" TAB