div(id="tabX-5")
  p
    b X5 Step 1:
  div Define calculation mode and settings (Reflectance/Transmittance, wavelength range etc.)
  | on "Calculation Settings" TAB
  p
    b Step 2:
  div Populate 'materials list' with refractive index data from local or server files using:
  | "Materials Data Editor" TAB
  p
    b Step 3:
  div Populate 'Spectral targets list' with spectral data from local or server files using:
  | "Spectral Targets Editor" TAB
  p
    b Step 4:
  div Define the film stack structure and select target spectrum on "Film Structure Editor" TAB
  p
    b Step 5:
  div Perform calculations on "Film Structor Editor" TAB
  | adjust the film thicknesses in the stack to match the target spectrum (if is selected)
  | using either the 'manual-' or 'auto-tuning' mode
  p
    b Step 6:
  div Nam dui erat, auctor a, dignissim quis.