/* @CHARSET "ISO-8859-1";*/
    /*--------------------------------------------------*/
body{
    font: 62.5% "Trebuchet MS", sans-serif; margin: 5px;
}
    /*.TF-calculus {margin-top: 1em;}*/
    /*.bold{font-weight: bold;}*/

table.display /*on Tabs6, Tabs7 6 Tabs8*/
    .even.row_selected td {background-color: #B0BED9;}
    .odd.row_selected td {background-color: #9FAFD1;}
    .dataTables_info { padding-top: 0; }
    .dataTables_paginate { padding-top: 0; }
    .css_right { float: right;}
    .ui-spinner {margin-left:1em;}
    .blueText { color:blue; }
    .bblueText { color:blue; font-size: 15px; font-weight:bold; margin-bottom:10px; }
    .bblueText1 { color: #1f02a9; font-size: 21px; font-weight:bold; white-space: pre; margin-left:1em;}
    .bblueText2 { color:blue; font-size: 17px; font-weight:bold; position: relative;  margin-left: 40px;}
    .bblueText3 { color: #1f02a9; font-size: 21px; font-weight:bold; white-space: pre; margin-left:3em;}
    .bblueText4 { color:#1f02a9; font-size: 17px; font-weight:bold; white-space: pre; margin-left:1em;}
    .bblueText5 {
        color:#1f02a9;
        font-size: 13px;
        font-weight:bold;
        margin-left:1em;
    }
    .spinner2 {margin-left:5em; margin-right: 5em;  width: 40px; white-space: pre;}

form .file {
    display: block;
    border: 1px solid #000;
    width: 540px;
    padding: 2px;
    margin-bottom: 0.2em;
    }

.labelMongo {
    display:inline-block;
    width:15%;
    margin-right:5px;
    text-align:right;
    font-weight:bold;
}

.x-class{
    font-size:12px;
    color:red;
}

#arvotus {/*for jeditable widget on jv-tfrcalci.js*/
    width: 45px;
    font-size:12px;
    color:red;
    margin-left:0px;
}

    #mongoDialForm {
        display:none;
    }

    .centtis {/*jv-tableandplotit.js*/
        text-align: center;
    }


    .vakata-context {
    /*Required for jsTree contextmenu plugin
          otherwise contextmenu not visible:*/
      z-index:999 !important;
    }
   /*------------------------------------------------------------*/
	td{
        font-family:Times;
        color:black;
        font-size:11pt;
        border-bottom:1px solid #fff;
        border-right:1px solid #fff;
        padding:1px 1px 0
    }

  	.ModForm1{
        text-align: left;
        width: 100%;
        border: 1px;
    }

  	.editTabs{
        vertical-align:top;
        text-align: left;
        border: 1px solid white;
    }

    .stackTabs1{
        vertical-align:top;
        text-align: left;
        border: 1px solid white;
        float:left;
        /*width:40%;*/
        padding-left:10px;
    }

    .stackTabs2{/*käytössä tabs2:ssa*/
        vertical-align:top;
        text-align: left;
        border: 1px solid white;
        float:left;
        /*padding-left:10px;*/
    }

    .editTabs2{
        vertical-align:top;
        width: 50%;
        border: 1px solid lightgrey;
        font-size: 17px;
        font-weight:bold;
        background-color: #fcf0ba;
    }

    #tabs-2, #tabs-6, #tabs-7, #tabs-8  {
        margin: 0;
        padding: 0;
    }

  	.leftis{text-align: left}
  					
	/*#modTab1{width: 300px; border: 1px; border-color: #006BB2;}*/
						
	tr {
        background-color:#F8FBFF
    }
	.TablRow{
        margin: 4px; cursor:pointer;
    }
    .highlight {
        background:yellow;
    }

	pre {display: inline-block;	font-size:13pt; white-space: pre;}

	/*.seleBoxi {width: 95%;font-size:75% !important;}*/
	/*ilman !important:ia k�ytt�� jquery widgettien oletusfontteja*/
.button {
    background-color: #000000;
    color: #FFFFFF;
    float: right;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

/* to place button to the right on the jq dialog:*/
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none !important;
}

/* without '!important' definition is ineffective while it can be overwritten by jquery's css*/
.big-btn-left {
    width: 90px;
    height: 40px;
    float: left;
}

.big-btn {
    width: 120px;
    height: 50px;
    float:right;
}

/* button formatting in dialog form for directory selection: */
.medium-btn {
    width: 120px;
    height: 30px;
    float: right;
    margin-right: 30px;
}

.ui-tabs .ui-tabs-nav li a {font-size:9pt !important;}

.wrapperi{
    width:100%;
}

.labelOnInput {
    display:inline-block;
}

.inputUnderLabel{
    display:block;
}

.selectUnderLabel{
    display:block;
    width:160px;
    margin-right:10px;
}


/*@page {
    size: A3 landscape;
}*/